# dynamic.yml (dynamic configuration)
http:
  routers:
    # home (dashboard)
    home:
      entryPoints: 
        - websecure
      rule: "Host(`home.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: home-service
   
    # minio
    minio:
      entryPoints: websecure
      rule: "Host(`minio.lr-projects.de`) || HostRegexp(`{subdomain:[a-z0-9-]+}.minio.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: minio-service


    # nextcloud
    nextcloud:
      entryPoints: websecure
      rule: "Host(`nextcloud.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: nextcloud-service


    office:
      entryPoints: websecure
      rule: "Host(`office.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: office-service
    
# sso
    sso:
      entryPoints: websecure
      rule: "Host(`sso.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: sso-service


    # stick-it
    stickit:
      entryPoints: websecure
      rule: "Host(`stick-it.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: stickit-service


    # stick-it-map
    stickit-map:
      entryPoints: websecure
      rule: "Host(`stick-it-map.lr-projects.de`)"
      tls:
        certResolver: cloudflare
      service: stickit-map-service

  
  services:
    home-service:
      loadBalancer:
        servers:
          - url: "https://home.thinkpad.lr-projects.de"
        passHostHeader: false

    minio-service:
      loadBalancer:
        servers:
          - url: "https://s3.thinkpad.lr-projects.de"
        passHostHeader: true

    nextcloud-service:
      loadBalancer:
        servers:
          - url: "https://nextcloud.medion.lr-projects.de"
        passHostHeader: false

    office-service:
      loadBalancer:
        servers:
          - url: "https://office.medion.lr-projects.de"
        passHostHeader: false

    sso-service:
      loadBalancer:
        servers:
          - url: "https://sso.medion.lr-projects.de"
        passHostHeader: false

    stickit-service:
      loadBalancer:
        servers:
          - url: "https://stick-it.thinkpad.lr-projects.de"
        passHostHeader: false

    stickit-map-service:
      loadBalancer:
        servers:
          - url: "https://stick-it-home.medion.lr-projects.de"
        passHostHeader: false

  serversTransports:
    bitwarden-transport:
      serverName: "10.217.236.3"
      insecureSkipVerify: true

  middlewares:
    body-50mb:
      buffering:
        maxRequestBodyBytes: 52428800 # 50 MB

    nextcloud_redirectregex:
      redirectRegex:
        regex: "https://(.*)/.well-known/(?:card|cal)dav"
        replacement: "https://$$1/remote.php/dav"
        permanent: true
